.fade-in {
  transition:
    color 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;
}

.left-aligned {
  align-items: flex-start !important; /* Override any centering */
  justify-content: flex-start !important; /* Align to the left */
  text-align: left;
}

.fade-in:hover {
  color: inherit;
  text-shadow: inherit;
}

.wrapper {
  width: 220px;
  overflow: hidden;
  position: absolute;
  height: 150px;
}

.first {
  width: 1260px;
  height: 150px;
  position: absolute;
  left: 0px;
  top: 0;
  animation: firstDiv 10s linear infinite;
}

.social-media {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  right: 45px;
  bottom: 50px;
}

.social-media > * {
  transition: transform 0.3s ease;
}

.social-media > *:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.button-email {
  transition: transform 0.3s ease;
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.button-email:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.language-div {
  position: absolute;
  top: 20px;
  right: 30px;
}

@keyframes firstDiv {
  0% {
    left: 0px;
  }
  11.1% {
    left: -150px;
  }
  22.2% {
    left: -280px;
  }
  33.3% {
    left: -420px;
  }
  44.4% {
    left: -560px;
  }
  55.5% {
    left: -700px;
  }
  66.6% {
    left: -840px;
  }
  77.7% {
    left: -980px;
  }
  88.8% {
    left: -1120px;
  }
  100% {
    left: 0px;
  }
}

.second {
  width: 1260px;
  height: 150px;
  position: absolute;
  left: 150px;
  top: 0;
  animation: secondDiv 10s linear infinite;
}
@keyframes secondDiv {
  0% {
    left: 150px;
  }
  11.1% {
    left: 0px;
  }
  22.2% {
    left: -150px;
  }
  33.3% {
    left: -280px;
  }
  44.4% {
    left: -420px;
  }
  55.5% {
    left: -560px;
  }
  66.6% {
    left: -700px;
  }
  77.7% {
    left: -840px;
  }
  88.8% {
    left: -980px;
  }
  100% {
    left: 150px;
  }
}

.third {
  width: 1260px;
  height: 150px;
  position: absolute;
  left: 280px;
  top: 0;
  animation: thirdDiv 10s linear infinite;
}
@keyframes thirdDiv {
  0% {
    left: 280px;
  }
  11.1% {
    left: 150px;
  }
  22.2% {
    left: 0px;
  }
  33.3% {
    left: -150px;
  }
  44.4% {
    left: -280px;
  }
  55.5% {
    left: -420px;
  }
  66.6% {
    left: -560px;
  }
  77.7% {
    left: -700px;
  }
  88.8% {
    left: -840px;
  }
  100% {
    left: 280px;
  }
}

.fourth {
  width: 1260px;
  height: 150px;
  position: absolute;
  left: 420px;
  top: 0;
  animation: fourthDiv 10s linear infinite;
}
@keyframes fourthDiv {
  0% {
    left: 420px;
  }
  11.1% {
    left: 280px;
  }
  22.2% {
    left: 150px;
  }
  33.3% {
    left: 0px;
  }
  44.4% {
    left: -150px;
  }
  55.5% {
    left: -280px;
  }
  66.6% {
    left: -420px;
  }
  77.7% {
    left: -560px;
  }
  88.8% {
    left: -700px;
  }
  100% {
    left: 420px;
  }
}

.fifth {
  width: 1260px;
  height: 150px;
  position: absolute;
  left: 560px;
  top: 0;
  animation: fifthDiv 10s linear infinite;
}
@keyframes fifthDiv {
  0% {
    left: 560px;
  }
  11.1% {
    left: 420px;
  }
  22.2% {
    left: 280px;
  }
  33.3% {
    left: 150px;
  }
  44.4% {
    left: 0px;
  }
  55.5% {
    left: -150px;
  }
  66.6% {
    left: -280px;
  }
  77.7% {
    left: -420px;
  }
  88.8% {
    left: -560px;
  }
  100% {
    left: 560px;
  }
}

.sixth {
  width: 1260px;
  height: 150px;
  position: absolute;
  left: 700px;
  top: 0;
  animation: sixthDiv 10s linear infinite;
}
@keyframes sixthDiv {
  0% {
    left: 700px;
  }
  11.1% {
    left: 560px;
  }
  22.2% {
    left: 420px;
  }
  33.3% {
    left: 280px;
  }
  44.4% {
    left: 150px;
  }
  55.5% {
    left: 0px;
  }
  66.6% {
    left: -150px;
  }
  77.7% {
    left: -280px;
  }
  88.8% {
    left: -420px;
  }
  100% {
    left: 700px;
  }
}

.seventh {
  width: 1260px;
  height: 150px;
  position: absolute;
  left: 840px;
  top: 0;
  animation: seventhDiv 10s linear infinite;
}
@keyframes seventhDiv {
  0% {
    left: 840px;
  }
  11.1% {
    left: 700px;
  }
  22.2% {
    left: 560px;
  }
  33.3% {
    left: 420px;
  }
  44.4% {
    left: 280px;
  }
  55.5% {
    left: 150px;
  }
  66.6% {
    left: 0px;
  }
  77.7% {
    left: -150px;
  }
  88.8% {
    left: -280px;
  }
  100% {
    left: 840px;
  }
}

.eighth {
  width: 1260px;
  height: 150px;
  position: absolute;
  left: 980px;
  top: 0;
  animation: eighthDiv 10s linear infinite;
}
@keyframes eighthDiv {
  0% {
    left: 980px;
  }
  11.1% {
    left: 840px;
  }
  22.2% {
    left: 700px;
  }
  33.3% {
    left: 560px;
  }
  44.4% {
    left: 420px;
  }
  55.5% {
    left: 280px;
  }
  66.6% {
    left: 150px;
  }
  77.7% {
    left: 0px;
  }
  88.8% {
    left: -150px;
  }
  100% {
    left: 980px;
  }
}

.ninth {
  width: 1260px;
  height: 150px;
  position: absolute;
  left: 1120px;
  top: 0;
  animation: ninthDiv 10s linear infinite;
}
@keyframes ninthDiv {
  0% {
    left: 1120px;
  }
  11.1% {
    left: 980px;
  }
  22.2% {
    left: 840px;
  }
  33.3% {
    left: 700px;
  }
  44.4% {
    left: 560px;
  }
  55.5% {
    left: 420px;
  }
  66.6% {
    left: 280px;
  }
  77.7% {
    left: 150px;
  }
  88.8% {
    left: 0px;
  }
  100% {
    left: 1120px;
  }
}
