---
import { ViewTransitions } from "astro:transitions";

interface Props {
  titlePage: string;
  language: string;
}

const { titlePage, language } = Astro.props;
---

<html lang={language}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{titlePage}</title>
  </head>
  <body transition:animate="slide">
    <slot />
  </body><style>
    html {
      height: 100vh;
    }
    body {
      background-color: #242424;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  </style>
  <!-- Google tag (gtag.js) -->
  <script
    type="text/partytown"
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-3743GP7D14"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-3743GP7D14");
  </script>
</html>
