---
interface Props {
  titlePage: string
}

const { titlePage } = Astro.props

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{titlePage}</title>
	</head>
	<body>
	<slot />
	</body>
	<style>
	html {
	height: 100vh;
	}
	body {
	margin: 0;
	background-color: #242424;
	align-content: center;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	}
	</style>
</html>
